* {
    margin: 0;
    padding: 0;
    font: 14px "微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体";
    list-style: none;
    text-decoration: none;
}


ul, ol {
    list-style: none;
}

i, em {
    font-style: normal;
}

b, strong {
    font-weight: normal;
}

img {
    display: block;
    border: none;
}

a {
    text-decoration: none;
}

.clearFix:before, .clearFix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.clearFix {
    *zoom: 1;
}

.head {
    width: 1240px;
    height: 41px;
    margin: 0 auto;
}

.w1286 {
    width: 1240px;
    margin: 0 auto;
}

.head .headL {
    width: 50%;
    background: #fafafc;
    float: left;
}

.head .headL ul li {
    height: 41px;
    margin-right: 43px;
    float: left;
}

.headL ul li a {
    font-size: 12px;
    color: #666666;
    line-height: 41px;
}

.head .headL ul li:hover a {
    color: #00c3f5;
    cursor: pointer;
}

.head .headR {
    width: 50%;
    background: #fafafc;
    float: right;
}

.head .headR ul li {
    height: 41px;
    margin-left: 38px;
    float: right;
}

.head .headR ul li a {
    font-size: 12px;
    color: #666666;
    line-height: 41px;
}

.head .headR ul li:hover a {
    color: #00c3f5;
    cursor: pointer;
}

.logo {
    width: 1286px;
    height: 40px;
    margin: 0 auto;
    background: #ffffff;
    border-bottom: 1px solid #efefef;
    padding-bottom: 40px;
    /*position: relative;*/
}

.logo h1 {
    float: left;
    width: 115px;
    height: 20px;
    background: url("../img/logo-header.png") no-repeat;
    margin: 30px 0;
}

.logo ul {
    margin-left: 108px;
    float: left;
}

.logo ul li {
    margin-left: 35px;
    float: left;
    position: relative;
}

.logo ul li a {
    font-size: 14px;
    color: #333333;
    line-height: 80px;
}

.logo ul li:hover a {
    color: #4fc3f5;
    cursor: pointer;
}

.hover {
    position: absolute;
    top: 81px;
    left: -196px;
    width: 1366px;
    background: #ffffff;
    height: 0;
    overflow: hidden;
    transition: height .8s;
    z-index: 101;
}

.logo ul li:hover .hover {
    height: 203px;
    z-index: 101;
    cursor: pointer;

}

.hover ul li {
    width: 190px;
    float: left;
    z-index: 101;
}

.hover ul li img {
    width: 85px;
    height: 104px;
    padding-top: 24px;
    z-index: 101;
}

.hover ul li p {
    color: #333333;
    padding: 7px 0 3px 15px;
    z-index: 101;
}


.hover ul li span {
    color: #f14700;
    padding-left: 15px;
    z-index: 101;
}





.lbt .box{
    width: 100%;
    height: 480px;
    position: relative;
}
.lbt .box .boxInner div{
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height: 100%;

    z-index: 0;
    opacity: 0;
    filter: alpha(opacity:0);
}
.lbt .box .boxInner div img{
    width: 100%;
    height: 100%;
}
.lbt .box ul{
    position: absolute;
    right: 500px;
    bottom:20px;
    z-index: 10;
}
.lbt .box ul li{
    width: 18px;
    height: 18px;
    float: left;
    border-radius: 50%;
    background: #ccc;
    margin-left: 10px;
    cursor: pointer;
}
.lbt .box ul li.bg{
    background: green;
}
.lbt .box a{
    width:30px;
    height:45px;
    position: absolute;
    top:200px;
    background-image: url("../img/pre.png");
    background-repeat: no-repeat;
    z-index: 10;
    opacity: 0.3;
    filter: alpha(opacity:30);
    display: none;
}
.lbt .box a:hover{
    opacity: 0.5;
    filter: alpha(opacity:50);
}
.lbt .box a.btnLeft{
    background-position: 0 0;
    left:300px;
}
.lbt .box a.btnRight{
    background-position: -50px 0;
    right:30px;
}






















.lbt .w1286{
    position: relative;
}








.list {
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    height: 456px;
    background:  rgba(0,0,0,.5);
    padding: 12px 0 12px 0;
    z-index: 100;
}

.list ul li {
    width: 244px;
    height: 58px;
}

.list ul li a {
    line-height: 58px;
    font-size: 12px;
    color: #3a3a3a;
    padding-left: 30px;
}

.list ul li .hide {
    display: none;
    width: 496px;
    height: 480px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 244px;
}

.list ul li:hover {
    background: #ffffff;
    cursor: pointer;
}

.list ul li:hover .hide {
    display: block;
    cursor: pointer;
}

.list ul li .hide ul {
    float: left;
    padding: 28px 0 100px 0;
}

.list ul li .hide ul li {
    width: 200px;
    height: 88px;
}

.hide ul li img {
    width: 31px;
    height: 44px;
    float: left;
    margin: 25px 15px 0 28px;

}

.hide ul li p {
    padding-top: 25px;
}

.list ul li .hide .img {
    width: 280px;
    height: 480px;
}

.back .bho {
    display: none;
    width: 30px;
    height: 60px;
    background-color: #827f78;
    position: absolute;
    top: 206px;
    right: 45px
}

.back .bho i {
    position: absolute;
    top: 22px;
    left: 11px;
    display: block;
    width: 9px;
    height: 16px;
    background: url("../img/sa_01.png") no-repeat -5px -1px;

}

.back .bho1 {
    width: 30px;
    height: 60px;
    display: none;
    position: absolute;
    top: 206px;
    left: 244px;
    background-color: #827f78;
}

.back:hover .bho {
    display: block;
    cursor: pointer;
}

.back:hover .bho1 {
    display: block;
    cursor: pointer;
}

.back .bho1 span {
    position: absolute;
    top: 22px;
    left: 11px;
    width: 9px;
    height: 16px;
    background: url("../img/sa_01.png") no-repeat -31px -5px;
}

.back .seven {
    position: absolute;
    bottom: 10px;
    right: 423px;
    width: 150px;
    height: 11px;
}

.back .seven p i {
    display: block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border: 1px solid #c5c5c3;
    border-radius: 50px;
    background: transparent;
    float: left;
}

.back .seven p .no {
    margin-right: 0;
}

.back .seven p i:hover {
    background-color: #00c3f5;
    border-color: #00c3f5;
    cursor: pointer;
}

.zj {
    margin-top: 6px;
    height: 140px;
}

.zj .zjL {
    float: left;
    width: 244px;
    background: #f9f9f9;
}

.zj .zjL ul li {
    width: 122px;
    height: 70px;
    float: left;
}

.zj .zjL ul li i {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../img/icon_02_01.png") no-repeat;
    margin: 15px 0 2px 49px;
    text-align: center;
}

.zj .zjL ul li p {
    font-size: 12px;
    color: #333333;
    text-align: center;
}

.zj .ziR {
    float: left;
}

.zj .ziR img {
    float: left;
    margin-left: 5px;
    width: 244px;
    height: 140px;
    transition: all .3s;
}

.zj .ziR img:hover {
    margin-top: -3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.xza {
    height: 93px;
    padding: 42px 0 16px 0;
}

.xza .azx {
    float: left;
}

.xza .azx h3 {
    font-size: 24px;
    color: #333333;
}

.xza .xzaR {
    float: right;
    width: 68px;
    height: 30px;
    margin-top: -2px;
}

.xza .xzaR .pq {
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid #bdbdbd;
    float: left;

}

.xza .xzaR .pq i {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 10px;
    height: 18px;
    background: url("../img/zxc_01.png") no-repeat -25px -6px;
}

.xza .xzaR .p1 {
    margin-left: 5px;
    float: left;
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid #bdbdbd;
}

.xza .xzaR .p1 span {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 10px;
    height: 18px;
    background: url("../img/zxc_01.png") no-repeat -4px -6px;
}

.xzaB {
    /*padding-top: 16px;*/
    height: 338px;
}

.xzaB ul li {
    float: left;
    width: 247px;
    height: 338px;
    border: 1px solid #efefef;
    margin-left: -1px;
}

.xzaB ul li:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.xzaB ul li img {
    width: 157px;
    height: 105px;
    padding: 72px 44px 79px 47px;
}

.xzaB ul li p {
    color: #555757;
    font-size: 12px;
    /*text-align: center;*/
    padding: 0 0 2px 30px;
}

.xzaB ul li i {
    display: block;
    color: #999999;
    font-size: 11px;
    padding-left: 39px;;
}

.xzaB ul li span {
    display: block;
    color: #e02b41;
    text-align: center;
}

.img {
    margin-top: 40px;
    height: 110px;
}

.img img {
    width: 1240px;
    height: 110px;
    margin: 0 auto;
}

.both {
    background: #f5f5f5;
}

.both .bothL {
    margin-top: 30px;
    height: 91px;
}

.both .bothL p {
    float: left;
    padding-top: 42px;
    font-size: 24px;
    color: #333333;
}

.both .bothL span {
    float: right;
    padding-top: 48px;
    font-size: 12px;
    color: #333333;
}

.both .bothL:hover span {
    color: #00c3f5;
    cursor: pointer;
}

.both .listA {
    height: 690px;
}

.listA ul .hji {
    position: relative;
    float: left;
}

.listA ul .hji > img {
    float: left;
    width: 243px;
    height: 338px;
    padding: 0;
}

.listA .hide {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 243px;
    height: 0;
    background: rgba(0, 0, 0, .3);
    overflow: hidden;
    transition: height .3s;
}

.listA ul .hji:hover .hide {
    height: 100px;
    cursor: pointer;

}

.listA .hide p {
    width: 188px;
    height: 40px;
    background-color: #ff5a59;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    margin: 30px 0 0 28px;
}

.listA ul li {
    background: #ffffff;
    width: 243px;
    height: 338px;
    float: left;
    margin: 7px 6px 0 0;
    transition: all .4s;
}

.listA ul .dong:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    margin-top: 5px;
    cursor: pointer;
}

.listA ul .dong {
    position: relative;
}

.listA ul .dong div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f59646;
    position: absolute;
    top: 16px;
    right: 16px;
}

.listA ul .dong div p {
    position: absolute;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    padding-left: 5px;
}

.listA ul .nobor {
    margin-right: 0;
}

.listA ul li img {
    width: 126px;
    height: 152px;
    padding: 52px 0 53px 58px;

}

.listA ul li p {
    color: #555757;
    text-align: center;
    padding-bottom: 2px;;
}

.listA ul li i {
    padding-left: 51px;
    color: #999999;
}

.listA ul li span {
    display: block;
    color: #e02b41;
    text-align: center;
}

.got {
    position: fixed;
    right: 4px;
    bottom: 105px;
    width: 50px;
    height: 50px;
    background-color: #b4b4b4;
}

.got a {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 24px;
    height: 18px;
    background: url("../img/suggest.png") no-repeat;
}

#goLink {
    display: none;
    position: fixed;
    bottom: 52px;
    right: 4px;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: #b4b4b4;
}

#goLink:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
#goLink a {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 24px;
    height: 18px;
    background: url("../img/gotop-arrow.png") no-repeat;
}

.dbdh {
    margin-top: 100px;
    height: 136px;
    border-bottom: 1px solid #e5e5e5;
}

.dbdh ul li {
    position: relative;
    width: 203px;
    height: 136px;
    float: left;
}

.dbdh ul li:before {
    content: "";
    width: 1px;
    height: 44px;
    display: inline-block;
    background-color: #e5e5e5;
    position: absolute;
    right: 0;
    bottom: 44px;
}

.dbdh ul .caa:before {
    display: none;
}

.dbdh ul li i {
    display: block;
    width: 36px;
    height: 36px;
    background: url("../img/rt.png") no-repeat;
    margin: 38px 0 18px 84px;
}

.dbdh ul .nobor {
    width: 211px;
}

.dbdh ul li p {
    padding-left: 57px;
    color: #666666;
}

.dbdh ul li p span {
    font-weight: bold;
}

.zde ul li {
    width: 243px;
    height: 186px;
    float: left;
    margin-right: 10px;
}

.zde ul .nor {
    margin-right: 0;
}

.zde ul li h3 {
    color: #333333;
    padding: 32px 0 14px 0;
    text-align: center;
    font-weight: bold;
}

.zde ul li a {
    display: block;
    font-size: 12px;
    width: 48px;
    color: #666666;
    line-height: 24px;
    padding-left: 96px;
}

.zde ul li a:hover {
    color: #00c3f5;
}

.zde .zdeR {
    width: 238px;
    height: 186px;
    float: right;
}

.zde .zdeR p {
    color: #666666;
    padding-top: 32px;
    text-align: center;
}

.zde .zdeR i {
    display: block;
    font-size: 24px;
    color: #1fa7ea;
    padding: 24px 35px 21px 41px;
}

.zde .zdeR .hide {
    margin-left: 42px;
    position: relative;
    width: 160px;
    height: 34px;
    background-color: #1fa7ea;
    border-radius: 2px;
}

.zde .zdeR .hide b {
    position: absolute;
    top: 8px;
    left: 25px;
    width: 20px;
    height: 21px;
    background: url("../img/asdzxc.png") no-repeat;
}

.zde .zdeR .hide span {
    padding-left: 50px;
    text-align: center;
    line-height: 34px;
    color: #ffffff;
}

.end {
    position: relative;
    height: 114px;
    border-top: 1px solid #e5e5e5;
}

.end p {
    font-size: 12px;
    color: #666666;
    padding-left: 169px;
    line-height: 114px;
}

.end .lks {
    position: absolute;
    bottom: 45px;
    right: 205px;
    width: 90px;
    height: 21px;
}

.end .lks i {
    position: absolute;
    top: 0;
    left: 1px;
    width: 89px;
    height: 21px;
    background: url("../img/dfes_01.png") no-repeat 0 -12px;
}