
header{
    background: #FFFFFF!important;
    border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 1200px) {
    .navbar-nav{
        margin-left: 500px;
    }
}
h3, h1, h2, h4, h5, h6, p, span, a {
    font-family: "Microsoft YaHei";
    color: #000000 !important;
}

.bg-primary {
    background: #fff;
}

.mod-1 .container .navbar-nav li a {
    color: #000;
}

.mod-1 .container .navbar-nav li a:hover {
    color: #718d6f;
}

.mod-1 .container .navbar-nav li a:hover {
    color: #718d6f;

}

.navbar-nav > li > :hover:after {
    background: #0b4e52 !important;
}

.navbar-nav > li#ccc > :after {
    background: #0b4e52 !important;
}

@media only screen and (max-width: 770px) {
    .bord {
        width: 70px !important;
        height: 1px;
        background: #c0c0c0;
        margin: 18px auto;
    }
}



@media only screen and (min-width: 770px) {
    .bord {
        width: 70px !important;
        height: 1px;
        background: #c0c0c0;
        margin: 18px 0!important;
    }
}






/*food*/
.food-box {
    color: #c8c8c8 !important;
    background: #004d50;
}

.food-box .img99 {
    padding: 110px 0;
}

.food-box span {
    color: #718d6f !important;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

.food-box .div66 {
    padding: 89px 0;
    margin-left: -5%;
}

.food-box h1 {
    text-align: left;
    font-size: 16px;
    color: #c8c8c8 !important;
    padding: 50px 0 20px;
}

.food-box .bor {
    float: left;
    width: 1px;
    background: #013a3c;
    height: 178px;
    margin-top: 60px;
    margin-right: 15px;

}

.food-box .bor-r {
    float: left;
    width: 1px;
    background: #013a3c;
    height: 178px;
    margin-top: 60px;
    margin-left: -30px;
}

.food-box p {
    text-align: left;
    font-size: 12px;
    color: #c8c8c8 !important;
}

.food-box p.p2 {
    padding: 10px;
    line-height: 20px;
    border-top: 1px solid #013a3c;
    text-align: center;
}

@media only screen and (max-width: 990px) {
    .food-box .bor-r, .food-box .bor {
        display: none;
    }

    .food-box .div66 {
        padding: 35px 0;
        margin-left: 0%;
    }
    .row2 {
        padding: 0 50px;
    }

    .food-box .img99 {
        padding: 50px 0;
    }

    .food-box h1 {
        padding: 0 0 20px;
    }

    .food-box .div55 {
        padding: 30px 0;
    }
}

@media only screen and (max-width: 1199px) {
    .food-box .row p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 770px) {

    .food-box .div66 {
        padding: 35px 0;
        margin-left: 15px;
    }
}
